<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Major</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head>

<body>
    <div style="margin-top: 50px;" class="ui container">
        <h1 class="ui center aligned header">Major</h1>

        <form class="ui form" action="/major/add" method="POST">
            <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
            <div class="field">
                <label>Major Name</label>
                <input type="text" name="name" placeholder="Enter name..."><br>
            </div>
            <button class="ui blue button" type="submit">Add</button>
        </form>

        <hr>

        {% for major in major_datas %}
        <div class="ui segment">
            <p class="ui big header">{{ major.name }}</p>
            <p> {{major._id}}</p>
            <a class="ui red button" href="/major/delete/{{major._id}}">Delete</a>
        </div>
        {% endfor %}
    </div>
</body>

</html>